{% extends 'WebKateTestTaskBundle::layout.html.twig' %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <h2><a href="{{ path('_executors') }}">Executors</a></h2>
            <h3><a href="{{ path('_executor_create') }}">Create executors</a></h3>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
             <div class="col-lg-4">
                 <ul>
                    <li>{% for category in categories %}
                            <h2>{{ category.title }}</h2>
                        <ul>
                            <li>{% for project in projects %}
                                <h3>{{ project.title }}</h3>
                                    <ul>
                                        <li>{% for executor in executors %}
                                            <h2>{{ executor.secondName }}</h2>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                {% endfor %}
                            </li>
                        </ul>
                        {% endfor %}
                    </li>
                </ul>
                
                <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
